            body {
                .main {
                    background-color: green;
                }
            }


            #pentagon {
                color: black;

                div {
                    width: 30px;
                    height: 30px;
                    span {
                        text-align: center;
                        font-family: arial;
                        text-decoration: none;
                        font-weight: 400;
                    }
                }
            }